{% extends "shared/Base.html" %}
{% block title %}Home{% endblock %}

{% block homeActive %}active {% endblock %}


{% block linkCss %}

{% endblock %}



{% block content %}


<div class="container">
    <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    style="height: 80vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p> -->
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1606326608690-4e0281b1e588?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    style="height: 80vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p> -->
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1561089489-f13d5e730d72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
                    style="height: 80vh;" class="d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p> -->
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End of carousel -->

    <div class="container mt-5 p-2">
        <div class="row">

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="pic-container row text-center">
                            <img class="icon-pic" width="48" height="48"
                                src="https://www.elegantthemes.com/images/icons/big/design.svg"
                                data-src="https://www.elegantthemes.com/images/icons/big/design.svg"
                                alt="Visual Editing">
                        </div>
                        <div>
                            <h2 style="text-align: center;">Test Conducting</h2>
                            <p style="text-align: center;">Online test will be conducted with AI question
                                generation.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="pic-container row text-center">


                            <img class="icon-pic" width="48" height="48"
                                src="https://www.elegantthemes.com/images/icons/big/responsive.svg"
                                data-src="https://www.elegantthemes.com/images/icons/big/responsive.svg"
                                alt="Responsive Editing">
                        </div>
                        <div>
                            <h2 style="text-align: center;">Result evaluation</h2>
                            <p style="text-align: center;"> Evaluation of the student answers will be done by
                                NLP technology.</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="pic-container row text-center">
                            <img class="icon-pic" width="48" height="48"
                                src="https://www.elegantthemes.com/images/icons/big/library.svg"
                                data-src="https://www.elegantthemes.com/images/icons/big/library.svg"
                                alt="Design Management">
                        </div>

                        <div>
                            <h2 style="text-align: center;">Record Maintenance</h2>
                            <p style="text-align: center;">Record of the students is maintained online.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End of features -->

    <div class="container">

        <div class="row">
            <div
                class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative py-5 px-lg-5">
                <img src="https://conversationstartersworld.com/wp-content/uploads/Random-question-generator.jpg" style="height: 250px; width: 500px;" alt="">
            </div>

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">

                <p>Question Answer Generator helps to conduct and evaluate tests. Here we talk of the
                    descriptive online examination system. Multiple choice questions are easy to deal as they have a
                    question, a few options and a field in the
                    same question that stores the correct option in the database. While in the case of descriptive
                    questions it is not so. It brings in or uses the concepts of Natural Language Processing or NLP to
                    assign marks to answers. </p>





            </div>
        </div>

    </div>


    <!-- End About Section -->

    <div class="card text-center  p-2">
        <div class="card-header">
            <h3>Team</h3>
        </div>
        <div class="card-body">
            <div class="card-group">
                <div class="card m-2">
                    <img src="/static/images/team-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
                <div class="card m-2">
                    <img src="/static/images/team-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
                <div class="card m-2">
                    <img src="/static/images/team-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
                <div class="card m-2">
                    <img src="/static/images/team-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>


            </div>
        </div>

    </div>




</div>
<!-- end of teams -->



</div>

{% endblock %}