{% extends "Base.html" %}
{% block title %}Objective Test{% endblock %}

{% block homeActive %} {% endblock %}

{% block aboutActive %} {% endblock %}

{% block contactUsActive %}active{% endblock %}

{% block linkcss %}
{% endblock %}
{% block content %}
<style>
    .objectivebutton {
        border: none;
        outline: none;
        height: 50px;
        width: 30%;
        background-color: rgb(120, 120, 133);
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

    .objectivebutton:hover {
        background: white;
        border: 2px solid;
        color: black;
    }
</style>


<div class="container">
    <h2>Objective test</h2>
    <div class="row">
        <div class="mb-5">
            <h4>Login As name</h4>
        </div>
        <form action="post"></form>
        <div class="mb-8 px-7">
            <label class="form-label">Question 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam,
                eos!</label>

        </div>
        <div class="mb-8">
            <label for="Subjectiveans1" class="form-label">Answer</label>
            <input class="form-control form-control-lg" type="text" >
        </div>
        <div class="mb-8">
            <label class="form-label">Question 2:</label>
            <p> </p>

        </div>
        <div class="mb-8">
            <label for="objectiveans2" class="form-label">Answer</label>
            <input class="form-control form-control-lg" type="text" 
                aria-label=".form-control-lg example">
        </div>
        <div class="mb-8">
            <label class="form-label">Question 3:</label>
            <p> </p>

        </div>
        <div class="mb-3">
            <label for="objectiveans3" class="form-label">Answer</label>
            <input class="form-control form-control-lg" type="text" >
        </div>
        <div class="mb-3">
            <label class="form-label">Question 4:</label>
            <p> </p>

        </div>
        <div class="mb-3">
            <label for="objectiveans4" class="form-label">Answer</label>
            <input class="form-control form-control-lg" type="text"  >
        </div>
        <div class="mb-3">
            <label class="form-label">Question 5:</label>
            <p> </p>

        </div>
        <div class="mb-3">
            <label for="objectiveans5" class="form-label">Answer</label>
            <input class="form-control form-control-lg" type="text"  >
        </div>
    </div>
    <input type="hidden" id="testid" name="testid" value="">
    <input type="hidden" id="teacherid" name="teacherid" value="">
    <input type="hidden" id="studentroll" name="studentroll" value="">
    <input type="hidden" id="studentname" name="custId" value="">
    <input type="hidden" id="subject" name="subject" value="">
    <div class="col-lg-12 d-flex justify-content-center">
        <button type="submit" class=" objectivebutton mt-3 mb-8">Submit</button>
    </div>
    </form>
</div>

{% endblock  %}

{% block linkJs %}
<script>
    jsonstrstudent = '{{student}}';
    jsonstrtest = '{{test}}';
    student = JSON.parse(jsonstrstudent.replace(/&#34;/g,'"')); 
    test = JSON.parse(jsonstrtest.replace(/&#34;/g,'"')); 
    console.log(student[0])
    console.log(test[0])

$( window ).on( "load", function() {
    displayWelcome();
    displaytest();
    });
function displayWelcome(){
  
}

function displaytest(){

    
    
        
}

</script>

{% endblock %}