{% extends "Base.html" %}
{% block title %}SignUp{% endblock %}
{% block linkCss %}
<style>
    .bgbrcss {
        background: white;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
    }

    img {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

    }

    #registerBtn {
        border: none;
        outline: none;
        /* padding: 10px 30px 10px 30px; */
        height: 50px;
        width: 50%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

    #registerBtn:hover {
        background: white;
        border: 2px solid;
        color: black;
    }
    .bdr{
        border: 2px solid black;
    }
    .fntColor{
        color: rgb(112, 111, 111);
    }
</style>
{% endblock %}
{% block content %}
<section>
    <div class="container pt-5">
        <div class="row bgbrcss no-gutters">
            <div class="col-lg-5 p-0">
                <img src="https://images.unsplash.com/photo-1574629173115-01ba37282238?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGlhcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                    class="img-fluid" alt="" height=700>
            </div>
            <div class="col-lg-5 px-5 pt-5 ">

                <h2>Sign up to your account</h2>
                <br>
                <form method="POST" id="signup">
                    <div class="form-rows">
                        <div class="form-outline flex-fill">
                            <input type="text" id="name" name="name" class="form-control p-2 my-4"
                                placeholder="Name" required />
                        </div>
                        <div class="form-outline flex-fill">
                            <input type="email" id="username" name="username" class="form-control my-4 p-2"
                                placeholder="Username" required />
                        </div>
                        <div class="form-outline flex-fill ">
                            <input type="password" id="password" name="password" placeholder="Password"
                                class="form-control my-4 p-2" required />
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mx-3 mb-3" type="radio" name="options" id="inlineRadio1" value="0" required>
                            <label class="form-check-label mr-5 mb-3 fntColor" for="inlineRadio1">Teacher</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input ml-5 mb-3" type="radio" name="options" id="inlineRadio2" value="1" readonly>
                            <label class="form-check-label ml-3 mb-3 fntColor" for="inlineRadio2">Student</label>
                          </div>  
                        <div class="form-outline flex-fill" id="subjectorroll">
                            
                        </div>
                     
                        <div class="col-lg-12 d-flex justify-content-center">
                        <button type="submit" id="registerBtn" class="btn my-2">Register</button>
                        </div>
                        <p>Already have an account?  <a href="{{url_for('login')}}"> Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> 


{% endblock %}

{% block linkJs %}
<script>
    $('#signup input').on('change', function() {
       var opt =  $('input[name=options]:checked', '#signup').val();
       if(opt == 1){
        $("#subjectorroll").html(`<input type="text" id="roll" 
        name="roll" placeholder="Roll No." class="form-control mb-4 p-2" required />`); 
       }
       else if(opt == 0){
        $("#subjectorroll").html(`<input type="text" id="subject" 
        name="subject" placeholder="Subject" class="form-control mb-4 p-2" required />`); 
       }
       
    });
    </script>
{% endblock %}
