{% extends "BaseLoggedIn.html" %}
{% block title %}Student Dashboard{% endblock %}
{% block homelink %}{% endblock%}
{% block linkCss %}
<style>
    .bgbrcss {
        background: white;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
    }
</style>
{% endblock %}
{% block homeActive %} {% endblock %}

{% block aboutActive %} {% endblock %}

{% block contactUsActive %}{% endblock %}

{% block content %}




<div class="container pt-5">
    <h3 class="p-2" id="welcome"> </h3>
   
            <div class="row">
                <div class="col-10 offset-1" id="testtable">
                    
                </div>
            </div>
        </div>
    



{% endblock %}

{% block linkJs %}
<script>
studentjsonstr = '{{student}}';
testsjsonstr = '{{tests}}'
student = JSON.parse(studentjsonstr.replace(/&#34;/g,'"'));
tests = JSON.parse(testsjsonstr.replace(/&#34;/g,'"'));
console.log(tests)
$( window ).on( "load", function() {
    displayWelcome();
    displaytest();
    });
function displayWelcome(){
   
    $("#welcome").html(`Welcome Student, ${student[0].name} (${student[0].roll})`)
}
function displaytest(){
    if(tests.length>0){
        renderhtml = `<table class="table table-bordered" style="border-radius: 5px; ">
                        <thead>
                            <tr>
                                <th class="col-1">Sr. No.</th>
                                <th class="col-3" >Type</th>
                                <th class="col-3">Subject</th>
                                <th class="col-5">Actions</th>
                            </tr>
                        </thead>
                        <tbody>  
                       `
        for(let i =0;i<tests.length;i++){
            renderhtml += `
                                <tr>
                                <th>${i+1}</th>
                                <td> ${tests[i].type}</td>
                                <td>${tests[i].subject}</td>
                                <td class="d-flex justify-content-center ">
                                    <a type="button" href="/attempttest/${tests[i].type}/${tests[i].id}" class="btn btn-primary" style="margin-right: 30px;">Attempt
                                        Test</i></a>
                                    <a type="button" href="/viewstudentresult/${tests[i].id}" class="btn btn-success">View Result</i></a>
                                </td>
                                </tr>
            `
        }
        renderhtml+= ` </tbody>
                    </table>`
        $("#testtable").html(renderhtml)
    }
    else{
        $("#testtable").html(`<h4>No Active Tests</h4>`)
    }
}
</script>
{% endblock %}

